.detail {
  height: 100vh;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  .container {
    min-height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba($color: #fff, $alpha: 0.8);
  }
  .header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;
    .title {
      font-size: 16px;
      line-height: 1.5;
    }
    .synopsis {
      font-size: 12px;
      color: #666;
      height: 100px;
      overflow: auto;
    }
  }
  .list {
    .item {
      width: 100%;
      .img {
        width: 100%;
        border-radius: 4px;
        box-shadow: 0 10px 10px #ccc;
      }
      &-content {
        height: 0;
        transition: height 0.3s ease-in-out;
        overflow: auto;
        &-title {
          font-size: 14px;
          line-height: 1.5;
        }
        &-synopsis {
          font-size: 12px;
          color: #999;
        }
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
